{% extends "auth/login.html" %}
{% from "_formhelpers.html" import render_field, render_field_w_errors%}

{% block form_content %}
    <div class="demo-card">
        <h3 class="title">Change Password</h3>
        <form class="register-form" method="post">
            {{ form.hidden_tag() }}
            {{ form.old_password.label }}
            {{ render_field_w_errors(form.old_password) }}
            {{ form.password.label }}
            {{ render_field_w_errors(form.password) }}
            {{ form.password2.label }}
            {{ render_field_w_errors(form.password2) }}

            <button class="btn btn-danger btn-block">Password Change</button>
        </form>
    </div>
{% endblock form_content %}
