{% extends "paper_base.html" %}
{% from "_formhelpers.html" import render_form_field_no_border %}
{% block body_attribs %} class="full-screen register" {% endblock body_attribs %}
{% block navbar %}
    <nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={{ url_for('main.landing') }}>unKani App</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation-example-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
	                   <a href="{{ url_for('auth.login') }}" class="btn">
	                        Looking to login?
	                    </a>
	                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-->
    </nav>


{% endblock navbar %}
{% block page_content %}
    <div class="wrapper">
        <div class="background" style="background-image: url({{ url_for("static",filename="img/register_background_mountains.jpg")}});">
            <div class="filter-black"></div>
            <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12">
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-umbrella"></i>
                                </div>
                                <div class="description">
                                    <h3> We've got you covered </h3>
                                    <p>Everything you need, all in one platform.  Unkani is the world's only fully integrated platform for pet services.  See why hundreds
                                    of thousands of people have already signed up.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-cloud"></i>
                                </div>
                                <div class="description">
                                    <h3> Cutting-Edge Tech </h3>
                                    <p>Let us be your IT department. Unkani is entirely cloud based, utilizing modern web-based technology.  Never worry about upgrading your
                                    system again.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div class="description">
                                    <h3> Unparalleled Security</h3>
                                    <p>With Unkani, you and your clients' data is 100% secure.  Let us keep your business safe and secure.</p>
                                </div>
                            </div>
                        </div>
                        {% block form_container %}
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            {% block form_content %}
                            <div class="demo-card">
                                <h3 class="title text-center">Register</h3>

                                <div class="social">
                                    <button href="#" class="btn btn-fill btn-icon btn-facebook"><i class="fa fa-facebook"></i></button>
                                    <button href="#" class="btn btn-fill btn-icon btn-google"><i class="fa fa-google"></i></button>
                                    <button href="#" class="btn btn-fill btn-icon btn-twitter"><i class="fa fa-twitter"></i></button>
                                </div>

                                <div class="division">
                                    <div class="line l"></div>
                                    <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <form class="register-form" method="post" id="registerFormValidation">
                                    {{ form.hidden_tag() }}
                                    {{ render_form_field_no_border(form.first_name) }}
                                    {{ render_form_field_no_border(form.last_name) }}
                                    {{ render_form_field_no_border(form.username) }}
                                    {{ render_form_field_no_border(form.email) }}
                                    {{ render_form_field_no_border(form.password) }}

                                    <button class="btn btn-fill btn-block">Register</button>
                                </form>
                            </div>
                            {% endblock form_content %}
                        </div>
                        {% endblock form_container %}
                    </div>
            </div>

            <div class="demo-footer text-center">
                <h6>&copy; <script>document.write(new Date().getFullYear())</script>, unKani <i class="fa fa-heart heart"></i></h6>
            </div>
        </div>
    </div>
{% endblock page_content %}
{% block scripts %}
    {{ super() }}
    <!--  Forms Validations Plugin -->
    <script src="{{ url_for("static", filename="js/paper_dashboard/jquery.validate.min.js") }}"></script>

     <script type="text/javascript">
        $().ready(function(){
            $('#registerFormValidation').validate();
        });
    </script>
{% endblock scripts %}
