{% extends "auth/auth_base.html" %}
{% from "_formhelpers.html" import render_form_field_no_border %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block body %}
    {% block navbar %}
        {{ super() }}
    {% endblock navbar %}
    {% block content %}
        {% block page_content %}
            <div class="wrapper wrapper-full-page">
                <div class="full-page login-page" data-color=""
                     data-image="{{ url_for("static", filename="img/login_background_night_blur.jpg") }}">
                    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                                    <form id="resetPasswordRequestFormValidation" method="post" >
                                        {{ form.csrf_token }}
                                        <div class="card" data-background="color" data-color="blue">
                                            <div class="header">
                                                <h3 class="title">Reset Password</h3>
                                            </div>
                                            <div class="content">
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    {{ render_form_field_no_border(form.email) }}
                                                </div>
                                            </div>
                                            <div class="footer text-center">
                                                <button type="submit" class="btn btn-fill btn-wd ">Reset Password</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block footer %}
                        {{ super() }}
                    {% endblock footer %}
                </div>
            </div>
        {% endblock page_content %}
    {% endblock content %}

{% endblock body %}
{% block scripts %}
    {{ super() }}
     <script type="text/javascript">
        $().ready(function(){
            $('#resetPasswordRequestFormValidation').validate();
        });
    </script>
{% endblock scripts %}
