{% extends "auth/login.html" %}
{% from "_formhelpers.html" import render_field, render_field_w_errors%}

{% block form_content %}
    <div class="demo-card">
        <h3 class="title">Password Reset</h3>
        <form class="register-form" method="post">
            {{ form.hidden_tag() }}
            <div class="forgot">
                <p>Enter your email below and we'll send an email with instructions for resetting your password.</p>
            {{ render_field_w_errors(form.email) }}
            </div>
            <button class="btn btn-danger btn-block">Password Reset</button>
        </form>
    </div>
{% endblock form_content %}
