{% extends "auth/login.html" %}
{% block body_attribs %} class="full-screen register" {% endblock body_attribs %}
{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block page_content %}
    <div class="wrapper">
        <div class="background"
             style="background-image: url({{ url_for("static", filename="img/login_background_night_blur.jpg") }});">
            <div class="filter-black"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="info info-horizontal">
                                    <div class="description">
                                        <h2>Your account is unconfirmed</h2>
                                        <h5>So you created an account and then tried to log in... and look where you wound up!  For your security (and for ours) we really
                                            need you to confirm you account with the email that we sent to you.  Once you do that, I promise, we will let you in.
                                        </h5>
                                        <br/>
                                        <p> Need another confirmation email?
                                            <a href="{{ url_for('auth.resend_confirmation') }}">
                                                resend!
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
