{% extends "dashboard/user_profile.html" %}
{% from "_formhelpers.html" import render_form_field_w_border, render_form_datepicker_field_w_border %}
{% block user_profile_form %}
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Change Password</h4>
            </div>
            <div class="content">
                <form id="changeEmailFormValidation" method="post">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Current Password</label>
                                {{ render_form_field_w_border(form.old_password) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>New Password</label>
                                {{ render_form_field_w_border(form.password2) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                {{ render_form_field_w_border(form.password) }}

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('dashboard.user_profile', userid=current_user.id) }}" class="btn btn-wd btn-info btn-move-left">
                                            <span class="btn-label">
	                                                <i class="ti ti-user"></i>
                                            </span>
                            Back To User Profile
                        </a>
                        <button type="submit" class="btn btn-wd btn-success btn-magnify pull-right">
	                                            <span class="btn-label">
	                                                <i class="ti ti-check"></i>
	                                            </span>
                            Change Password
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock user_profile_form %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $().ready(function () {
            $('#changeEmailFormValidation').validate();
        });
    </script>
{% endblock scripts %}