{% extends "dashboard/dashboard_list_base.html" %}
{% from "_formhelpers.html" import render_form_field_w_border, render_form_datepicker_field_w_border %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <div class="toolbar">
                                <!--Here you can write extra buttons/actions for the toolbar-->
                            </div>
                            <table id="bootstrap-table" class="table">
                                <thead>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-sortable="true" class="text-center">ID</th>
                                <th data-field="first_name" data-sortable="true">First Name</th>
                                <th data-field="last_name" data-sortable="true">Last Name</th>
                                <th data-field="mi" data-sortable="true">mi</th>
                                <th data-field="suffix" data-sortable="true">Suff</th>
                                <th data-field="sex" data-sortable="true">Sex</th>
                                <th data-field="dpb" data-sortable="true">Dob</th>
                                <th data-field="ssn" data-sortable="true">SSN</th>
                                <th data-field="email" data-sortable="true">Email</th>
                                <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
                                    data-formatter="operateFormatter">Actions
                                </th>
                                </thead>
                                <tbody>
                                {% for pt in patient_list %}
                                <tr>
                                    <td></td>
                                    <td>{{ pt.id }}</td>
                                    <td>{% if pt.first_name %}
                                        {{ pt.first_name.title() }}
                                        {% endif %}
                                    </td>
                                    <td>{% if pt.last_name %}
                                        {{ pt.last_name.title() }}
                                        {% endif %}
                                    </td>
                                    <td>{% if pt.middle_name %}
                                        {{ pt.middle_name[0] }}
                                    {% endif %}
                                    </td>
                                    <td>{% if pt.suffix %}
                                        {{ pt.suffix }}
                                        {% endif %}
                                    </td>
                                    <td>{% if pt.sex %}
                                        {{ pt.sex }}
                                        {% endif %}
                                    </td>
                                    <td>{% if pt.dob %}
                                        {{ pt.dob }}
                                        {% endif %}
                                    </td>
                                    <td>{% if pt.ssn %}
                                        {{ pt.ssn }}
                                        {% endif %}
                                    </td>
                                    <td>{% if pt.email %}
                                        {{ pt.email.lower() }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}