{% extends "paper_base.html" %}

{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-default" role="navigation-demo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ url_for('main.landing') }}">
                        <div class="logo-container">
                            <div class="logo">
                                <img src="{{ url_for("static", filename="img/logo/unkani_cat.svg") }}"
                                     alt="Unkani Logo">
                            </div>
                            <div class="brand">
                                unKani App
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigation-example-2">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('dashboard.dashboard_main') }}">Dashboard</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>@{{ current_user.username }}<b class="caret"></b></p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('dashboard.dashboard_main') }}">Dashboard</a></li>
                                    <li><a href="{{ url_for('dashboard.user_profile', userid = current_user.id) }}">My Profile</a></li>
                                    <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for('auth.login') }}" class="btn btn-default btn-fill">Log In</a>
                            </li>
                        {% endif %}

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-->
        </nav>
        {% block landing_alert %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} landing-alert" data-notify="container">
                        <div class="container">
                            <div class="alert-wrapper">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="message text-center">{{ message }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        {% endblock landing_alert %}
    {% endblock navbar %}
    {% block page_content %}
        <div class="wrapper">
            <div class="landing-header"
                 style="background-image: url({{ url_for("static", filename="img/cat.jpg") }});">
                <div class="container">
                    <div class="motto">
                        <h1 class="title">Unkani</h1>
                        <h3>The world's only fully integrated</h3>
                        <h3>platform for pet services</h3>
                        <br/>
                        <a href="#" class="btn"><i class="fa fa-play"></i>Watch video</a>
                        <a class="btn">Download</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="section section-gray text-center landing-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h2>Take control of your business</h2>
                                <h5>Tired of cobbling tools together to operate your organization? Unkani is the
                                    answered.
                                    With over 100,000 daily users, the Unkani team has spent 10+ years developing a
                                    product
                                    that has a serious pet-focused organization needs.</h5>
                                <br/>
                                <a href="#" class="btn btn-default btn-fill">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-dark-blue landing-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 column">
                                <h4>Operational Power</h4>
                                <p>Manage your schedule online and connect with clients electronically. Setup and
                                    maintain
                                    your website and client portal. Communicate en masse with clients and automatically
                                    update them about their services in real-time.</p>
                                <a class="btn btn-neutral btn-simple" href="#">See more <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                            <div class="col-md-4 column">
                                <h4>Business Management</h4>
                                <p>Process credit card or mobile phone payments. Manage your finances and balance your
                                    books. Optimize your inventory and automatically identify opportunities for
                                    increased
                                    profitability. All in one tool</p>
                                <a class="btn btn-neutral btn-simple" href="#">See more <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                            <div class="col-md-4 column">
                                <h4>Client Engagement</h4>
                                <p>With Unkani Social, pet owners can stream live video of their pet, manage their pup's
                                    social circle, see what other pets are coming in today, network with other owners,
                                    instant message your business's team right from their phone.</p>
                                <a class="btn btn-neutral btn-simple" href="#">See more <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section section-dark text-center landing-section">
                    <div class="container">
                        <h2>The Unkani Team</h2>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{ url_for("static", filename="img/team/danky_dog.jpg") }}"
                                     alt="Thumbnail Image"
                                     class="img-circle img-responsive">
                                <h5>Hank <br/>
                                    <small class="text-muted">Design & Squirrels</small>
                                </h5>
                                <p>A Lake Tahoe native, hank aka "Dankie" brings his appreciation for beauty to the
                                    Unkani team
                                    as the UI and design lead.
                                    Hank is also a well respected <a href="https://www.youtube.com/watch?v=IDaqFiLvcB0">squirrel
                                        behavior</a> scholar.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{ url_for("static", filename="img/team/shadow.jpg") }}" alt="Thumbnail Image"
                                     class="img-circle img-responsive">
                                <h5>Shadow <br/>
                                    <small class="text-muted">Customer Relations</small>
                                </h5>
                                <p>Small dog. Big heart. Shadow's commitment and success as our customer relations lead
                                    shows
                                    that great things
                                    really do come in small packages. Shadow has inspired millions of dogs world-wide
                                    with her
                                    quest to overcome
                                    her limited cognitive capacity.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{ url_for("static", filename="img/team/kiffy.jpg") }}" alt="Thumbnail Image"
                                     class="img-circle img-circle img-responsive">
                                <h5>Kiffy <br/>
                                    <small class="text-muted">Business Development</small>
                                </h5>
                                <p>With style and poise of regal lord, this cool cat makes sure our team
                                    continues to grow. His effortless aptitude for all things business has allowed
                                    Unkani to be the <a href="#">number one pet services suite</a> in the world</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section landing-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h2 class="text-center">Keep in touch?</h2>
                                <form class="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                            <input class="form-control" placeholder="Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <input class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <label>Message</label>
                                    <textarea class="form-control" rows="4"
                                              placeholder="Tell us your thoughts and feelings..."></textarea>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">
                                            <button class="btn btn-primary btn-block btn-lg btn-fill">Send Message
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endblock page_content %}

    {% block footer %}
        <footer class="footer-demo section-white">
            <div class="container">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="{{ url_for("main.landing") }}">
                                <h4> Unkani App</h4>

                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <i class="fa fa-heart heart"></i> Unkani
                </div>
            </div>
        </footer>
    {% endblock footer %}

{% endblock body %}

{% block alerts %}
    <!-- Intentionally left empty-->
{% endblock alerts %}
