{% extends "auth/login.html" %}

<!-- Sentry JS SDK 2.1.+ required -->
<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>

{% if event_id %}
  <script>
  Raven.showReportDialog({
    eventId: '{{ event_id }}',
    dsn: '{{ public_dsn }}'
  });
  </script>
{% endif %}

{% block body_attribs %} class="full-screen register" {% endblock body_attribs %}
{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block page_content %}
    <div class="wrapper">
        <div class="background"
             style="background-image: url({{ url_for("static", filename="img/error_cat.jpg") }});">
            <div class="filter-black"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="info info-horizontal">
                                    <div class="description">
                                        <h2>Resource Not Found</h2>
                                        <h5>You were looking for something that isnt here.  Now that's just silly if you ask me.
                                        </h5>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
